{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>{{ course }}</h1>
        <h3>En liten presentation om mig själv</h3>
    </div>
    <article>
        <figure class="right">
            <img src="{{ img }}" alt="{{ name }}">
            <caption><i>En liten bild på mig.</i></caption>
        </figure>

        <p>Hej,</p>
        <p>
            Mitt namn är {{ name }} och jag är {{ age }} år gammal. Jag studerar
            för kursen {{ course }} vid BTH.
        </p>
        <p>
            Jag är utbildad apotekare från Göteborgs Universitet och jobbar för
            närvarande inom Life Science industrin som Supply Chain Coordinator
            på heltid om dagarna.
        </p>
        <p>
            Programmering är ett nyvunnet intresse som jag fann för några år sedan
            då jag läste en onlinekurs inom HTML. Detta ledde mig till att vilja
            fördjupa mig mer inom området vilket ledde till att jag sökte detta
            program.
        </p>
        <p>
            Mina hobbyn är hamburgare och kaffe. Jag är på jakt efter den perfekta
            hamburgaren och har prövat ett gäng olika, det närmsta jag har kommit
            till perfekt är In n Out burgers i Kalifornien. Vidare är jag även
            kaffefantast där favoriten är av typen Cortado.
        </p>
    </article>
</div>

{% include 'footer.html' %}
